.footer {
  background-color: #ffc700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

@media (max-width: 767px) {
  .footerLogotipe {
    width: 5.5rem;
  }

  .footerLogotipe img {
    width: 100%;
  }

  .footerIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .iconContainer {
    width: 2rem;
  }
  .iconContainer img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1299px) {
  .footerLogotipe {
    width: 7rem;
  }

  .footerLogotipe img {
    width: 100%;
  }

  .footerIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .iconContainer {
    width: 3rem;
  }
  .iconContainer img {
    width: 100%;
  }
}

@media (min-width: 1300px) {
  .footerLogotipe {
    width: 8rem;
  }

  .footerLogotipe img {
    width: 100%;
  }

  .footerIcons {
    display: flex;
    gap: 2rem;
  }

  .iconContainer {
    width: 3rem;
  }
  .iconContainer img {
    width: 100%;
  }
}
