<main class="quizzMain">
  <nav class="quizzMenu">
    <p class="quizzMenuText"><strong>Configuración accesibilidad</strong></p>
    <figure class="quizzMenuImg">
      <img src="assets/menu.svg" alt="Icono de menú" />
    </figure>
  </nav>
  <section class="quizzQuestionsSection">
    <button class="quizzButtonTrue"><strong>Verdadero</strong></button>
    <div class="quizzCardMain">
      <p class="quizzCardMainText">
        En España, hay
        <strong>cuatro tipos de discapacidad </strong> reconocidos: <br />1.-
        Física
        <br />
        2.- Psíquica <br />
        3.- Sensorial<br />4.-Cognitiva
      </p>
    </div>
    <div class="quizzCardFalseOne"></div>
    <div class="quizzCardFalseTwo"></div>
    <button class="quizzButtonFalse"><strong>Falso</strong></button>
    <div class="mobileButtons">
      <button class="mobileButtonTrue"><strong>Verdadero</strong></button>
      <button class="mobileButtonFalse"><strong>Falso</strong></button>
    </div>
  </section>
</main>
