<main class="quizzMain">
  <nav class="quizzMenu">
    <p class="quizzMenuText">Configuración accesibilidad</p>
    <figure class="quizzMenuImg">
      <img src="assets/menu.svg" alt="" />
    </figure>
  </nav>
  <section class="quizzQuestionsSection">
    <button class="quizzButtonTrue">Verdadero</button>
    <div class="quizzCardMain">
      <p class="quizzCardMainText">
        En España, hay
        <strong>cuatro tipos de discapacidad </strong> reconocidos: <br />1.-
        Física
        <br />
        2.- Psíquica <br />
        3.- Sensorial<br />4.-Cognitiva
      </p>
    </div>
    <button class="quizzButtonFalse">Falso</button>
  </section>
</main>
