<main class="quizzMain">
  <nav class="quizzMenu">
    <p class="quizzMenuText"><strong>Configuración accesibilidad</strong></p>
    <figure class="quizzMenuImg">
      <img src="assets/menu.svg" alt="Icono de menú" />
    </figure>
  </nav>
  <section class="quizzQuestionsSection">
    <button class="quizzButtonTrue" (click)="answer(true)">
      <strong>Verdadero</strong>
    </button>
    <div class="quizzCardMain">
      <p class="quizzCardMainText">
        <strong>Pregunta:</strong> <br />
        {{ currentQuestion.question }}
      </p>
    </div>

    <button class="quizzButtonFalse" (click)="answer(false)">
      <strong>Falso</strong>
    </button>
    <div class="mobileButtons">
      <button class="mobileButtonTrue" (click)="answer(true)">
        <strong>Verdadero</strong>
      </button>
      <button class="mobileButtonFalse" (click)="answer(false)">
        <strong>Falso</strong>
      </button>
    </div>
  </section>
  <app-modal (modalClosed)="onModalClosed()"></app-modal>
</main>
