<main class="landingMain">
  <section class="landingDecoration">
    <p>Aquí va la animación</p>
  </section>
  <section class="landingText">
    <h1 class="landingTitle">
      ¿Te animas a derribar unos cuantos estereotipos sobre la discapacidad?
    </h1>
    <button class="landingButton">
      <img src="assets/play.svg" alt="Icono de play" />
    </button>
  </section>
</main>
<footer class="footer">
  <figure class="footerLogotipe">
    <a href=""
      ><img src="assets/logo.png" alt="Logotipo de marca personal"
    /></a>
  </figure>
  <div class="footerIcons">
    <div class="iconContainer">
      <a href="https://www.linkedin.com/in/maria-lopez-herraiz" target="_blank">
        <img src="assets/linkedin.svg" alt="Icono LinkedIn"
      /></a>
    </div>
    <div class="iconContainer">
      <a href="https://soymarialoherr.com/" target="_blank">
        <img src="assets/web.svg" alt="Icono web"
      /></a>
    </div>
    <div class="iconContainer">
      <a href="https://github.com/mloherr" target="_blank"
        ><img src="assets/github.svg" alt="Icono GitHub"
      /></a>
    </div>
  </div>
</footer>
